<div class="panel panel-primary text-center" data-ng-controller="ProfileBankmainController as profileController" data-ng-init="profileController.fnInit()">
	<div class="panel-heading">
		Profile
	</div>	
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<img src="modules/bankmain/img/default-profile.png" alt="ProfileImg" class="img-circle" style="height:100px;width:100px;">
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<span data-ng-bind="profileController.bankmainSrv.bank.username"></span>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">Account balance</span>
						<input type="text" class="form-control" data-ng-model="profileController.bankmainSrv.bank.account.balance" jm-rs-number-format placeholder="Balance" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>