<div class="panel panel-primary" data-ng-controller="ServicesBankmainController as controller" data-ng-init="controller.fnInit()">	
	<ol class="breadcrumb">
		<li><a data-ng-click="util.go('bankmainState.panel')">Control panel</a></li>
		<li class="active">Services</li>
	</ol>
	<div class="panel-body">
		<tabset>
			<tab heading="Services">
				<div data-ui-view="ServicesAttendingBankmainView">
				</div>
			</tab>
			<tab heading="Services History">
				<div data-ui-view="HistoryServicesBankmainView">
				</div>
			</tab>
		</tabset>
	</div>
</div>