<div class="row">
    <div class="col-md-12">
      <button data-ng-class="{'btn btn-danger pull-right': controller.tradermainSrv.isWorking, 'btn btn-success pull-right': !controller.tradermainSrv.isWorking}" data-ng-click="controller.fnToggleWork()">
        {{controller.tradermainSrv.isWorking?'Stop Working':'Start work'}}
      </button>
    </div>
    <div class="col-md-12">
        <accordion close-others="false">
            <accordion-group 
                data-ng-repeat="serviceId in controller.tradermainSrv.arrayServicesInAttention track by $index" 
                is-open="controller.tradermainSrv.listServicesInAttention[serviceId].isOpen" 
                is-disabled="controller.tradermainSrv.listServicesInAttention[serviceId].isDisabled">
                <accordion-heading>
                  <i data-ng-if="!controller.tradermainSrv.listServicesInAttention[serviceId].isDisabled" class="fa fa-play-circle"></i>
                  <i data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].isAbandoned" class="fa fa-plane"></i>
                  <i data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].isDesisted" class="fa fa-user-times"></i>
                  <i data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].isCompleted" class="fa fa-check-circle"></i>
                  Service (id:&nbsp;{{controller.tradermainSrv.listServicesInAttention[serviceId].service._id}},&nbsp;username:&nbsp;
                  <mark data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.gambler.username"></mark>)&nbsp;
                  <span data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].isDesisted">
                    Service has been <b>desisted</b> by Gambler
                  </span>
                  <span data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].isAbandoned">
                    Service has been <b>abandoned</b> by Gambler
                  </span>
                  <span data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].isCompleted">
                    Service has been <b>completed</b>.
                  </span>                    
                </accordion-heading>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-condensed">
                          <thead>
                              <tr>
                                  <th>Gambler</th>
                                  <th>Type</th>
                                  <th>Description</th>
                                  <th>State</th>
                                  <th>Created Date</th>
                                  <th>Updated Date</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td>
                                  <span data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.gambler.username"></span>
                                </td>
                                <td>
                                  <span data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.type"></span>
                                </td>
                                <td>
                                  <span data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.amount"></span>
                                  &nbsp;
                                  <span data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.sourceCurrency"></span>
                                  &nbsp;to&nbsp;
                                  <span data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.destinationCurrency"></span>
                                </td>
                                <td>
                                  <span 
                                    data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].service.state === controller.tradermainSrv.enumServiceState.CREATED" 
                                    data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.state" 
                                    data-toggle="tooltip" 
                                    title="Service has been created. Waiting for trader approval."></span>
                                  <span 
                                    data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].service.state === controller.tradermainSrv.enumServiceState.COMPLETED" 
                                    data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.state" 
                                    data-toggle="tooltip" 
                                    title="Service has been completed"></span>
                                  <span 
                                    data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].service.state === controller.tradermainSrv.enumServiceState.DESISTED" 
                                    data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.state" 
                                    data-toggle="tooltip" 
                                    title="Service has been desisted by Gambler"></span>
                                  <span 
                                    data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].service.state === controller.tradermainSrv.enumServiceState.ABANDONED_BY_TRADER" 
                                    data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.state" 
                                    data-toggle="tooltip" 
                                    title="Trader had connection problems"></span>
                                  <span 
                                    data-ng-if="controller.tradermainSrv.listServicesInAttention[serviceId].service.state === controller.tradermainSrv.enumServiceState.ABANDONED_BY_GAMBLER" 
                                    data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.state" 
                                    data-toggle="tooltip" 
                                    title="Service has been abandoned by Gambler"></span>
                                </td>
                                <td>
                                  <span data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.createdDate | date:'medium'"></span>
                                </td>
                                <td>
                                  <span data-ng-bind="controller.tradermainSrv.listServicesInAttention[serviceId].service.updatedDate | date:'medium'"></span>
                                </td>
                              </tr>
                          </tbody>
                        </table>                
                    </div>  
                    <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          Chat with Trader
                        </div>
                        <div id="chatPanelService" class="panel-body" jm-autoscroll>
                          <div class="row" data-ng-repeat="message in controller.tradermainSrv.listServicesInAttention[serviceId].listChatMessages track by $index">
                            <div class="col-md-12">
                              <small>
                                  <mark data-ng-bind="message.username"></mark>
                                  <span data-ng-bind="message.message" data-ng-class="message.type === 'INFO' ? 'text-info':''"></span>
                              </small>
                            </div>
                          </div>
                        </div>
                        <div class="panel-footer">
                          <form 
                              class="form-horizontal" 
                              autocomplete="off" 
                              data-ng-submit="controller.fnSendMessage(controller.tradermainSrv.listServicesInAttention[serviceId])">
                            <div class="input-group">
                              <input type="text" data-ng-model="controller.tradermainSrv.listServicesInAttention[serviceId].message" class="form-control" placeholder="Write to the trader...">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Send</button>
                              </span>
                              </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button 
                            class="btn btn-success" 
                            data-ng-click="controller.fnCompleteService(controller.tradermainSrv.listServicesInAttention[serviceId])">
                          Complete
                        </button>
                      </div>                    
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>