<div>
	<div data-ng-show="!controller.tradermainSrv.arrayServices.$resolved || controller.tradermainSrv.arrayServices.length">
		<div class="row">
			<div class="col-md-4">
			    <input id="filter" name="filter" type="text" data-ng-model="controller.filter"  class="form-control" placeholder="Filter here...">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<table class="table table-striped table-condensed">
						<thead>
					        <tr>
					            <th>Gambler</th>
					            <th>Type</th>
					            <th>Description</th>
					            <th>State</th>
					            <th>Created Date</th>
					            <th>Updated Date</th>
					        </tr>
					    </thead>
					    <tbody class="searchable">
					    	<tr dir-paginate="service in controller.tradermainSrv.arrayServices | filter:controller.filter | itemsPerPage: controller.pageSize" current-page="controller.currentPage">
					    		<td>
					    			<span data-ng-bind="service.requestingUser.username"></span>
					    		</td>
					    		<td>
					    			<span data-ng-bind="service.type"></span>
					    		</td>
					    		<td>
					    			<span data-ng-bind="service.amount"></span>
					    			&nbsp;
					    			<span data-ng-bind="service.sourceCurrency"></span>
					    			&nbsp;to&nbsp;
					    			<span data-ng-bind="service.destinationCurrency"></span>
					    		</td>
					    		<td>
					    			<div ng-switch="service.state">
					    				<span 
					    					data-ng-if="service.state === controller.tradermainSrv.enumServiceState.CREATED" 
					    					data-ng-bind="service.state" 
					    					data-toggle="tooltip" 
					    					title="Service has been created. Waiting for trader approval."></span>
					    				<span 
					    					data-ng-if="service.state === controller.tradermainSrv.enumServiceState.COMPLETED" 
					    					data-ng-bind="service.state" 
					    					data-toggle="tooltip" 
					    					title="Service has been completed"></span>
					    				<span 
					    					data-ng-if="service.state === controller.tradermainSrv.enumServiceState.DESISTED" 
					    					data-ng-bind="service.state" 
					    					data-toggle="tooltip" 
					    					title="Service has been desisted by Gambler"></span>
					    				<span 
					    					data-ng-if="service.state === controller.tradermainSrv.enumServiceState.ABANDONED_BY_TRADER" 
					    					data-ng-bind="service.state" 
					    					data-toggle="tooltip" 
					    					title="Trader had connection problems"></span>
					    				<span 
					    					data-ng-if="service.state === controller.tradermainSrv.enumServiceState.ABANDONED_BY_GAMBLER" 
					    					data-ng-bind="service.state" 
					    					data-toggle="tooltip" 
					    					title="Service has been abandoned by Gambler"></span>
									</div>
					    		</td>
					    		<td>
					    			<span data-ng-bind="service.createdDate | date:'medium'"></span>
					    		</td>
					    		<td>
					    			<span data-ng-bind="service.updatedDate | date:'medium'"></span>
					    		</td>
					    	</tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
			</div>
			<div 
				class="alert alert-warning text-center" 
				data-ng-if="controller.tradermainSrv.arrayServices.$resolved && !controller.tradermainSrv.arrayServices.length">
				No services yet.
			</div>
		</div>
	</div>
</div>