<div data-ng-controller="AssigningSrvCashierController as controller" data-ng-init="controller.fnInit()">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Assigning a Trader for attending the created service (<small data-ng-bind="controller.gamblermainSrv.service._id"></small>)</h3>		
			<i class="fa fa-cog fa-spin fa-5x"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-danger" data-ng-click="controller.fnCancelService()">
				Cancel
			</button>
		</div>
	</div>
</div>