<div class="panel panel-primary" data-ng-controller="CashierController as controller" data-ng-init="controller.fnInit()">	
	<ol class="breadcrumb">
		<li><a data-ng-click="util.go('gamblermainState.panel')">Control panel</a></li>
		<li class="active">Cashier</li>
	</ol>
	<div class="panel-body">
		<tabset>
			<tab heading="Trade">
				<div data-ui-view>
				</div>
			</tab>
			<tab heading="Services History">
				<div data-ui-view="ServicesHistoryCashierGamblermainView">
				</div>
			</tab>
		</tabset>
		<div data-ng-show="controller.gamblermainSrv.error" class="text-danger text-center">
			<strong data-ng-bind="controller.gamblermainSrv.error"></strong>
		</div>
		<div data-ng-show="controller.gamblermainSrv.info" class="text-success text-center">
			<strong data-ng-bind="controller.gamblermainSrv.info"></strong>
		</div>
	</div>
</div>