<div data-ng-controller="GamblerChatController as chatController">
	<div data-ng-class="chatController.chatService.chatState === chatController.chatService.enumUserChatState.CONNECTED ? 'panel panel-success' : 'panel panel-danger' ">
		<div class="panel-heading">
			<span>
				Chat 
				<small data-ng-if="chatController.chatService.chatState === chatController.chatService.enumUserChatState.CONNECTED">
					(Connected users: {{chatController.chatService.numConnectedUsers}})
				</small>
			</span>
		</div>	
		<div class="panel-body">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div id="chatPanel" class="panel-body" jm-autoscroll>
							<div class="row" data-ng-repeat="message in chatController.chatService.listMessages track by $index">
								<div class="col-md-12">
									<small>
										<mark data-ng-bind="message.username"></mark>
										<span data-ng-bind="message.message" data-ng-class="message.type === 'INFO' ? 'text-info':''"></span>
									</small>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<form class="form-horizontal" autocomplete="off" data-ng-submit="chatController.fnSendMessage()">
								<div class="input-group">
									<input type="text" data-ng-model="chatController.message" class="form-control" placeholder="Send your message...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Send</button>
									</span>
							    </div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<tabset justified="true">
								<tab heading="Gamblers">
									<div class="panel-body" style="height: 200px;max-height: 200px;overflow-y:scroll;">
										<div class="row">
											<div class="col-md-12">
												<ul class="list-group">
													<li class="list-group-item" data-ng-repeat="user in chatController.chatService.listConnectedUsers | filter: { role: chatController.enumUserRole.GAMBLER }">
														<span data-ng-bind="user.username"></span>
														<div class="btn-group dropdown pull-right" >
															<button type="button" class="btn btn-primary btn-xs dropdown-toggle">
																<span class="glyphicon glyphicon-menu-hamburger"></span>
															</button>
															<ul class="dropdown-menu" role="menu">
																<li class="disabled"><a href="#">Send PM</a></li>
																<li class="disabled"><a href="#">Challenge</a></li>
																<li class="disabled"><a href="#">View profile</a></li>
															</ul>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</tab>
								<tab heading="Traders">
									<div class="panel-body" style="height: 200px;max-height: 200px;overflow-y:scroll;">
										<div class="row">
											<div class="col-md-12">
												<ul class="list-group">
													<li class="list-group-item" data-ng-repeat="user in chatController.chatService.listConnectedUsers | filter: { role: chatController.enumUserRole.TRADER }">
														<span data-ng-bind="user.username"></span>
														<div class="btn-group pull-right">
															<button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
															<span class="glyphicon glyphicon-menu-hamburger"></span>
															</button>
															<ul class="dropdown-menu" role="menu">
																<li class="disabled"><a href="#">Cash in/out</a></li>
																<li class="disabled"><a href="#">View profile</a></li>
															</ul>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</tab>
							</tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>