<div class="panel panel-primary">
	<div class="panel-heading">
		Control panel
	</div>	
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<a data-ng-click="util.go('gamblermainState.cashier.createsrv')" class="thumbnail">
					<img src="modules/gamblermain/img/panel-cashier.png" alt="Cashier" style="height:100px;">
				</a>
			</div>
			<div class="col-md-4" id="panelStake">
				<a data-ng-click="util.go('gamblermainState.stake.lobby')" class="thumbnail">
					<img src="modules/gamblermain/img/panel-stake.png" alt="Stake"  style="height:100px;">
				</a>
			</div>
			<div class="col-md-4">
				<a data-ng-click="util.go('help')" class="thumbnail">
					<img src="modules/gamblermain/img/panel-help.png" alt="Help"  style="height:100px;">
				</a>
			</div>
		</div>
	</div>
</div>