<div class="panel panel-primary">
	<div class="panel-heading">
		Control panel
	</div>	
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<a href="/#!/gamblermain/panel/cashier/createsrv" class="thumbnail">
					<img src="modules/gamblermain/img/panel-cashier.png" alt="Cashier" style="height:100px;">
				</a>
			</div>
			<div class="col-md-4" id="panelStake">
				<a href="/#!/gamblermain/stake" id="imagenStake" class="thumbnail">
					<img src="modules/gamblermain/img/panel-stake.png" alt="Stake"  style="height:100px;">
				</a>
			</div>
			<div class="col-md-4">
				<a href="/#!/help" class="thumbnail">
					<img src="modules/gamblermain/img/panel-help.png" alt="Help"  style="height:100px;">
				</a>
			</div>
		</div>
	</div>
</div>