<div data-ng-controller="SrvAssignedCashierController as controller" data-ng-init="controller.fnInit()">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					Service
					<small>
						({{controller.gamblermainSrv.service._id}})
					</small>
					<button class="btn btn-link btn-xs" data-ng-click="controller.fnDesistService()">Desist</button>
				</div>
				<div id="chatPanelService" class="panel-body" jm-autoscroll>
					<div class="row" data-ng-repeat="message in controller.gamblermainSrv.servicesSocket.listMessages track by $index">
						<div class="col-md-12">
							<small>
								<span data-ng-switch="message.role">
									<mark data-ng-switch-when="controller.gamblermainSrv.enumUserRole.TRADER">Trader</mark>
									<mark data-ng-switch-when="controller.gamblermainSrv.enumUserRole.GAMBLER" data-ng-bind="message.username"></mark>
								</span>
								<span data-ng-bind="message.message" data-ng-class="message.type === 'INFO' ? 'text-info':''"></span>
							</small>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<form class="form-horizontal" autocomplete="off" data-ng-submit="controller.fnSendMessage()">
						<div class="input-group">
							<input type="text" data-ng-model="controller.message" class="form-control" placeholder="Write to the trader...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Send</button>
							</span>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>