'use strict';

//Service for chat
angular.module('chat').service('ChatService', ['$resource',
	function($resource) {
	    var enumChatEvent   = {
	      // Native events
	      CONNECTION:   'connect',
	      DISCONNECT:   'disconnect',
	      // App events
	      LOGIN:        'LOGIN',
	      NEW_USER:     'NEW_USER',
	      NEW_MESSAGE:  'NEW_MESSAGE',
	      USER_JOINED:  'USER_JOINED',
	      USER_LEFT:    'USER_LEFT'
	    };
	    var enumUserChatState = {
	      CONNECTED:      'CONNECTED',
	      DISCONNECTED:   'DISCONNECTED',
	      CONNECTING:     'CONNECTING',
	      LOGGED:         'LOGGED'
	    };
	    var enumMessageType = {
	      USER:   'USER',
	      INFO:   'INFO'
	    };


		return service;
	}
]);