<section data-ng-controller="TraderController as controller" data-ng-init="controller.fnList()">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Traders</h1>
			</div>
		</div>
	</div>
	<div data-ng-show="!controller.traders.$resolved || controller.traders.length">
		<div class="row">
			<div class="col-md-8">
				<a class="btn btn-primary" data-ng-click="util.go('createTrader')">
					<i class="glyphicon glyphicon-plus"></i>
				</a>
			</div>
			<div class="col-md-4">
			    <input id="filter" name="filter" type="text" data-ng-model="controller.filter"  class="form-control" placeholder="Filter here...">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<table class="table table-striped">
						<thead>
					        <tr>
					            <th>Username</th>
					            <th>Email</th>
					            <th>Rank</th>
					            <th>State</th>
					            <th>Actions</th>
					        </tr>
					    </thead>
					    <tbody class="searchable">
					    	<tr dir-paginate="obj in controller.traders | filter:controller.filter | itemsPerPage: controller.pageSize" current-page="controller.currentPage">
					    		<td>
					    			{{obj.username}}
					    		</td>
					    		<td>
					    			{{obj.email}}
					    		</td>
					    		<td>
					    			<span class="label label-info" data-ng-bind="obj.rank"></span>
					    		</td>
					    		<td>
					    			{{obj.state}}
					    		</td>
					    		<td>
					    			<a class="btn btn-primary btn-xs" data-ng-click="util.go('editTrader',{id: obj._id})">
										<i class="glyphicon glyphicon-edit"></i>
									</a>
									<a class="btn btn-info btn-xs" data-ng-click="util.go('viewTrader',{id: obj._id})">
										<i class="glyphicon glyphicon-search"></i>
									</a>
									<a class="btn btn-danger btn-xs" data-ng-click="controller.fnDelete(obj);">
										<i class="glyphicon glyphicon-trash"></i>
									</a>
					    		</td>
					    	</tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<dir-pagination-controls boundary-links="true"></dir-pagination-controls>
			</div>
			<div class="alert alert-warning text-center" data-ng-if="controller.traders.$resolved && !controller.traders.length">
				No traders yet, <a  data-ng-click="util.go('createTrader')">create one</a>?
			</div>
			<div data-ng-show="controller.error" class="text-danger">
				<strong data-ng-bind="controller.error"></strong>
			</div>
		</div>
	</div>
</section>